alexnet-modified-tensorflow/data
alexnet-modified-tensorflow/logdir
alexnet-modified-tensorflow/__pycache__
alexnet-modified-tensorflow/.idea
alexnet-modified-tensorflow/data.pkl
alexnet-modified-tensorflow/prediction.pkl
alexnet-modified-tensorflow/mnist_prediction.csv
alexnet-modified-tensorflow/model
vgg-tensorflow/__pycache__
vgg-tensorflow/.idea
vgg-tensorflow/data
vgg-tensorflow/model
